.footer{
    display: flex;
   
   /* height: 35px; */
   background-color: pink;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  
   justify-content: flex-end;
}

.footer__title{
   
    height: 15px;
    font-size: 13px;
    color: #fff;
    margin-right: 50px;
}